#map-canvas { height: 100%; margin: 0; padding: 0;}
html,
body {
    height: 100%;
     text-align: center;
}
.buttonFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.buttonFooter .form-control{
    height: 46px;
}
.buttonFooter div {
	padding: 0;
}
.btn-default, .btn-default:hover, .btn-default:focus {
    color: #fff;
    background-color: #57a6d4;
    width: 100%;
    border-radius:0;
}
.labels {
	position: fixed;
    top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: #57a6d4;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.list-group {   
	text-align: left;
}
.list-group a {
    padding-left: 30px;
    border: 1px solid #57a6d4;
}
